*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(39, 60, 86);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: rgb(21, 36, 54);
    width: 800px;
    height: 371px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    justify-content: space-around;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
p{
    text-align: center;
}
.titulo{
    font-size: 30px;
    font-weight: 700;
}
.contenido{
    font-size: 12px;
}
a{
    text-decoration: none;
    color: rgb(44, 44, 250);
}